@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Open+Sans&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,700&family=Roboto:wght@100;300;400;500;700&family=Space+Grotesk:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

main{
    width: 1433px;
    height: 745px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.tudo {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.ima-logo {
    height: 30.4px;
    width: 30px;
}

.tudo h1 {
    font-size: 31px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.text {
    position: relative;
    padding: 13px;

}

.text input {
    border: 1px solid #0FA47F;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    width: 320px;
    height: 52px;
}

.text input:focus {
    border: 2px solid #027a5c;
}

.text input::placeholder {
    color: transparent;
}

.text label {
    pointer-events: none;
    position: absolute;
    top: 39%;
    left: 10%;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
}

.text input:required:invalid+label {
    color: red;
}

.text input:focus:required:invalid {
    border: 2px solid red;
}

.text input:focus+label,
.text input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: 0;
    color: #0FA47F;
}

.recap {
    justify-content: center;
    align-items: center;
    border: 1px solid #C3C8CF;
    border-radius: 5px;
    display: flex;
    color: #2E3339;
    font-size: 15px;
    width: 320px;
    height: 79px;
    margin-left: 13px;
}

.ima {
    width: 65px;
    height: 61px;
    font-size: 10px;
    counter-reset: #555555;
    transform: translateX(2.9rem);
}

.ima img {
    width: 31.09px;
    height: 21px;
}

.continue {
    border: 2px solid;
    height: 45px;
    width: 320px;
    border-radius: 4px;
    color: white;
    background-color: #0FA47F;
    margin-top: 1rem;
    cursor: pointer;
}

.continue:hover {
    background-color: #027a5c;
    ;
}

.p-cont {
    color: #2E3339;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 14px;
}

.p-cont a {
    color: #0FA47F;
    text-decoration: none;
}

.hr-lines:before {
    content: " ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 1.1rem;
    background: #C3C8CF;
}

.hr-lines {
    text-align: center;
    position: relative;
    max-width: 500px;
    margin: 100px auto;
    bottom: 5.5rem;

}

.hr-lines:after {
    content: " ";
    height: 2px;
    width: 125px;
    background: #C3C8CF;
    display: block;
    position: absolute;
    top: 50%;
    right: 1.4rem;
}

.google {
    border: 2px solid #C3C8CF;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 52px;
    width: 320px;
    border-radius: 4px;
    padding-left: 1rem;
    cursor: pointer;
   
    transform: translate(0.9rem, -11rem);
    color: #2E3339;
}

.google img {
    margin-right: 1rem;
    
}

.micro {
    border: 2px solid #C3C8CF;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 52px;
    width: 320px;
    border-radius: 4px;
    padding-left: 1rem;
    transform: translate(0.9rem, -10.8rem);
    color: #2E3339;
    cursor: pointer;
}

.micro img {
    margin-right: 1rem;
}